body{
    margin: 0;
}

#firstpage{
    width: 100vw;
    height: 100vh;
    background-color: #c2d7d6;

}
.header{
    width: 100%;
    height: 45px;
    background-color: #213D59;
    display: flex;
    align-items: center;
    justify-content: right;
}

.headerEl{
    padding: 0 30px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

/* -------------------------------------HEADER---------------------------------------- */

#mainboxes{
    display: flex;
    width: 80%;
    height: 80%;
    margin: 50px;
    margin-left: 100px;
}

.leftbox{
    background-image: url(../FRIENDS/assets/Rectangle\ 48.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    
}
.hello{
    font-family: 'Cookie', cursive;
    font-size: 2rem;
    color: white;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    margin: 20px;
    margin-top: 40px;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
}
.inputs div{
    height: 45px;
    width: 200px;
}
.name, .mail,.pass{
    outline: none;
    padding: 8px;
    width: 100%;
    margin: 10px 0;
    border: none;
    padding-left: 30px;
}

.already{
    font-size: 0.7rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-top: 25px;
}
.already span{
    font-size: 0.8rem;
    border-bottom: 0.5px solid white;
}
.already span:hover{
    cursor: pointer;
}

input,
input::-webkit-input-placeholder {
    font-size: 10px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.300);
}
.rightbox{
    background-color: white;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
}

.maintext{
    font-family: 'Raleway';
font-style: normal;
font-weight: bold;
font-size: 2rem;
line-height: 38px;
text-align: center;
padding: 20px;
color: rgba(0, 0, 0, 0.86);
}

.people{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.peopleimg{
    width: 400px;
    height: auto;
        
}
.icon{
    position: relative;
    top: 35px;
    width: 15px;
    left: 5px;
}
.arrow{
    width: 30px;
    position: absolute;
    right: 180px;
    
}
.arrowimg{
    width: 30px;
}
.arrow:hover{
    cursor: pointer;
}
.arrow:active{
    
}